@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');



 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: hsl(0, 0%, 12%);
    padding: 2rem;
    width: 370px;
    height: 600px;
    border-radius: 20px;
    text-align: center;
}

.img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-top: 0.5rem;
    object-fit: cover;
}

.title{
    color: hsl(0, 0%, 100%);
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.country{
    color: hsl(75, 94%, 57%);
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
}

.parag{
    color: hsl(0, 0%, 100%);
    font-size: 0.785rem;
    margin-bottom: 1rem;
}


.profile-links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .9rem;  
    margin-top: 2rem;
}

.profile-links a{
    display: block;
    padding: 0.8rem;
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.profile-links a:hover{
    background-color: hsl(0, 0%, 8%);
    color: hsl(75, 94%, 57%);
}